.git
.git/**
.vercel
.vercel/**
node_modules
node_modules/**
dist
dist/**
build
build/**
venv
venv/**
.venv
.venv/**
__pycache__
**/__pycache__/**
*.py[cod]
*.log

.env
.env.*
**/.env
**/.env.*
backend/cookies.txt
cookies.txt

backend/temp_clips
backend/temp_clips/**
backend/exports
backend/exports/**
backend/temp
backend/temp/**
backend/temp_downloads
backend/temp_downloads/**
