# Deps & build
node_modules/
dist/
dist-ssr/
*.local

# Env & secrets (jangan pernah commit)
.env
.env.*
!.env.example
**/settings.json
cookies.txt
**/cookies.txt
*.pem
*.key

# Python (backend nanti)
venv/
.venv/
__pycache__/
*.pyc

# OS & editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
